.pop-shell-active-hint {
    background: rgba(242,183,118,1);
}

.pop-shell-separator {
    background: #aaa;
}

.pop-shell-search-active {
    background: #f2b776;
    color: #000;
}

.pop-shell-search-label {
    margin-left: 1em;
}

.pop-shell-search-cat {
    margin-right: 1em;
}

.pop-shell-search-element {
    padding-left: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
}

.pop-shell-separator {
    padding-bottom: .1em;
}
