.pop-shell-active-hint {
    background: rgba(255, 173, 0, 1);
}

.pop-shell-search-active {
    background: rgba(15, 15, 15, 0.01);
    box-shadow: inset 0 0 0 2px #fec641;
    border-radius: 5px;
    color: #393634;
}

.pop-shell-search-label {
    margin-left: 10px;
}

.pop-shell-search-cat {
    margin-right: 15px;
}

.pop-shell-search-element {
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* search results separator
.pop-shell-separator {
}*/
