.pop-shell-active-hint {
    background: rgba(255, 173, 0, 1);
}

.pop-shell-search-element:select{
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    color: #393634;
}
.pop-shell-search-label {
    margin-left: 10px;
}

.pop-shell-search-cat {
    margin-right: 15px;
}

.pop-shell-search-element {
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.pop-shell-gaps-entry {
    /* Seems to get the width just right to fit 3 digits */
    width: 75px;
}

.pop-shell-tab {
    border: 1px solid #333;
    color: #000;
    padding: 0 1em;
}

.pop-shell-tab-active {
    background: #FFAD00;
}

.pop-shell-tab-inactive {
    background: #9B8E8A;
}

.pop-shell-tab-urgent {
    background: #D00;
}
