.pop-shell-active-hint {
    border-width: 5px;
    border-style: solid;
    border-color: #FFAD00;
    border-radius: 5px;
    box-shadow: inset 0 0 0 1px rgba(200, 200, 200, 0);
}

.pop-shell-search-element:select{
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    color: #393634;
}
.pop-shell-search-label {
    margin-left: 10px;
}

.pop-shell-search-cat {
    margin-right: 15px;
}

.pop-shell-search-element {
    padding-left: 10px;
    padding-right: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.pop-shell-gaps-entry {
    /* Seems to get the width just right to fit 3 digits */
    width: 75px;
}