.pop-shell-search {
    background: #eee;
    color: #333;
}

.pop-shell-search-label {
    margin-left: 2em;
}

.pop-shell-search-cat {
    margin-right: .5em;
}

.pop-shell-search-list {
    margin-top: 1em;
}

.pop-shell-search-element {
    padding-left: 1em;
    padding-top: .1em;
    padding-bottom: .1em;
}

.pop-shell-separator {
    background: #aaa;
    padding-bottom: .1em;
}

.pop-shell-search-active {
    background: #FFAD00;
    color: #000;
}
